header {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.presentation {
    height: 100vh;
    background-color: #FDF8F0;
    z-index: 1;
    /* background-color: rgb(227, 201, 178); */
}

.video-bg {
    z-index: -2;
}

.overlay {
    background-color: rgba(71, 68, 63, 0.7);
    z-index: -1;
}
.presentation img {
    animation: moveUpDown 5s infinite alternate ease-in-out;
    transition: transform 0.3s ease-in-out;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0) translateZ(0);
    }
    50% {
        transform: translateY(-10px) translateZ(20px);
    }
}

.presentation:hover img {
    transform: translateY(0) translateZ(0);
}

.team {
    height: 100vh;
    background-color: rgb(253, 248, 240);
}

.carousel div:not(:first-child) {
    display: none;
}

.member {
    height: 300px;
    width: 225px;
}