header {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.presentation {
    height: 100vh;
    background-color: #FDF8F0;
    z-index: 1;
    /* background-color: rgb(227, 201, 178); */
}

.video-bg {
    z-index: -2;
}

.overlay {
    background-color: rgba(71, 68, 63, 0.7);
    z-index: -1;
}
.presentation img {
    animation: moveUpDown 5s infinite alternate ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.presentation:hover img {
    transform: translateY(0) translateZ(0);
}

#typewriter {
    color: #FDF8F0;
}

.discovery {
    background-color: #FDF8F0 !important;
}

.society {
    background-color: rgb(253, 248, 240);
}
.team {
    background-color: rgb(253, 248, 240);
}

.team-image {
    width: 500px;
}

.member {
    height: 300px;
    width: 225px;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0) translateZ(0);
    }
    50% {
        transform: translateY(-10px) translateZ(20px);
    }
}

.w-450 {
    max-width: 550px;
}

@media screen and (max-width: 1300px) {
    .society {
        height: auto;
    }
    .society > div > div:nth-child(1) {
        margin: 0 25px 0 0;        
    }
    .society > div > div:nth-child(2) {
        margin: 0 0 0 25px;        
    }
    .team-image {
        width: 500px;
    }
}
@media screen and (max-width: 1200px) {
    .product > div > div  {
        margin: 0 25px;
    }
    .product > div {
        margin: 3rem 0;
    }
    .team-image {
        width: 450px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 800px){
    .product {
        margin: 3rem 0;
    }
    .product > div > div:nth-child(1)  {
        margin: 0 10px 0 40px;
    }
    .product > div > div:nth-child(2)  {
        margin: 0 40px 0 10px;
    }
}
@media screen and (max-width: 1000px) {
    .society > div {
        flex-direction: column-reverse;
    }
    .society > div > div:nth-child(1) {
        margin: 25px 0 0;
    }
    .society > div > div:nth-child(2) {
        margin: 0 0 25px;
    }
    .front-product-image, .back-product-image {
        max-width: 300px;
    }
}
@media screen and (max-width: 880px) {
    .product-image {
        max-width: 350px;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
}
@media screen and (max-width: 800px){
    .product {
        margin: 3rem;
    }
    .product > div:nth-child(2)  {
        flex-direction: column;
    }
    .product > div:nth-child(3)  {
        flex-direction: column-reverse;
    }
    .product > div > div {
        margin: 0;
    }
    .product > div:nth-child(2) > div:nth-child(1), .product > div:nth-child(3) > div:nth-child(2) {
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 768px) {
    .presentation {
        align-items: end;
    }
    .container-image {
        display: none;
    }
    .fade-in-out {
        margin: 0 3rem 3rem;
    }
    .product {
        margin: auto 30px auto;
    }
    .product > div {
        flex-direction: column;
    }
    .product > div:last-child {
        flex-direction: column-reverse;
    }
    .front-product-image, .back-product-image {
        max-width: 275px;
    }
}
@media screen and (max-width: 630px){
    .fade-in-out {
        margin: 0 2rem 2rem;
    }
}
@media screen and (max-width: 590px){
    footer {
        flex-direction: column-reverse;
    }
    footer > div > div {
        width: 100%;
    }
    footer > div > div > p {
        text-align: center;
    }
}
@media screen and (max-width: 530px){
    .team-image {
        min-width: 350px;
    }
}
@media screen and (min-width: 1301px){
    .society {
        min-height: 100vh;
    }
    .society > h2 {
        position: absolute;
        top: 3rem;
        margin-left: -3rem;
    }
}
@media screen and (min-width: 1201px) {
    .product > div > div  {
        margin: 0;
    }
    .product > div {
        margin: 3rem;
    }    
}
@media screen and (min-width: 1001px) {
    .product {
        margin: 3rem;
    }
    .front-product-image, .back-product-image  {
        max-width: 350px;
    }
}
@media screen and (min-width: 881px) {
    .product-image {
        max-width: 400px;
    }
    .footer-desktop {
        display: block;
    }
    .footer-mobile {
        display: none;
    }    
}
@media screen and (min-width: 769px) {
    .presentation {
        align-items: center;
        justify-content: center;
    }
    .container-image {
        display: flex;
    }  
    .fade-in-out {
        padding: 0;
        justify-content: center;
    }
}